body{
  background-color: #99ffcc;
}
.axis {
  stroke: #333333;
  stroke-width: 3;
}
.line {
  stroke: #222222;
  stroke-width: 3;
  opacity: .9;
}
.label {
  cursor: default;
  text-anchor: middle;
  font-size: 14px;
  fill: #444444
}
.bar {
  fill: #a9a9a9;
  opacity: 0.6;
}
.bar:hover {
    fill: #ec008c;
    opacity: 1;
}
